@model IEnumerable<FitnessBooking.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h1>Instructors You're Following</h1>
<ul class="voffset4">
    @foreach (var instructor in Model)
    {
        <li>@instructor.Name</li>
    }
</ul>